logs/*
.env
xdebug_profiler

/html/tasks/node_modules
/html/tasks/public/hot
/html/tasks/public/storage
/html/tasks/storage/*.key
/html/tasks/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.php_cs.cache

docker/mysql/data